@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: #343a40;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    background: linear-gradient(#e664647e, #9198e567);
}

input {
    -webkit-appearance: none !important;
    border: 1px solid transparent;;
    padding: 0.3rem 0.8rem;
    border-radius: 50px;
    width: 50%;
    height: 2em;
}

button {
    border: 1px solid transparent;
    padding: 0.3rem 0.8rem;
    border-radius: 50px;
    width: 53%;
    height: 2.5em;
    color: white;
    background-color: #96414175;
    margin: 3em;
}

h1{
    font-size: 5rem;
    margin: 2em;
    text-align: center;
    color: white;
} 

h2{
    padding-top: 5rem;
    font-size: 3rem;
} 

p{
    padding: 1rem;
    font-size: 3rem;
}

.champs {
    margin: 1em;
}