<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartoMétéo</title>
    <!-- Assets -->
    <link rel="stylesheet" href="../src/assets/css/authentification.css">
    <script defer src="../src/assets/js/authentification.js"></script>
</head>
<body>
    <section id="mainSection">
        <div class="flex">
            <h1>Connexion</h1>
            <div class="flex">
                <input id="login" type="text" placeholder="login"/>
                <input id="password" type="password" type="text" placeholder="password"/>
                <button id="valider"> Valider </button>

                <div id="errorContainer"></div>
            </div> 
            <img src="../src/assets/images/authentication-welcome.svg" alt="bonjour"> 
        </div>
    </section>
</body>
</html>