<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartoMétéo</title>
    <!-- Assets -->
    <link rel="stylesheet" href="../src/assets/css/authentification.css">
    <script defer src="../src/assets/js/authentification.js"></script>
</head>
<body>
    <h1> Formulaire </h1>
    <div class="flex">
        <input id="login" class="champs" type="text"/>
        <input id="password" class="champs" type="text"/>
        <button id="valider"> Valider </button>
    </div>  
</body>
</html>